<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Notificación</title>

</head>
<body>

<h1>El sistema de reclamos, ya ha creado su nueva cuenta!</h1>

<h2>
    Las credenciales de su cuenta son las siguientes:
</h2>
<p>
    <b>Usuario:</b> {{ email }}
    <br>
    <b>Contraseña:</b> {{ password }}
</p>

<p>
    <a href="https://127.0.0.1:8000/login">Si tiene alguna consulta, puede ingresar al siguiente enlace</a>

</p>
</body>
</html>
