
<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Notificación</title>

</head>
<body>

    <h1>El sistema de reclamos se contacta con: <br> {{ reclamo.usuario }}!</h1>

    <p>
        Su reclamo N°{{ reclamo.id }} ya ha sido revisado, este se encuentra {{ reclamo.estado }}
    </p>

    <p>
       <a href="https://127.0.0.1:8000/admin/reclamo/current">Si tiene alguna consulta, puede ingresar al siguiente enlace</a>

    </p>
</body>
</html>
